.main-conatiner-ads .container {
  padding: 6px;
  width: 90%;
  margin: 0 auto;
}

.ads-container {
  margin-top: 13px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
}

.ads-left {
  padding-right: 15px;
}

.ads-right {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.ads-right img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.ads-right span {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 5px 12px;
  border-radius: 5px;
}

.ride-btn {
  background-color: #333333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.ride-btn:hover {
  border: 2px solid #333333;
}

.slick-prev:before,
.slick-next:before {
  background-color: #333333;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.slick-list {
  margin-left: 10px;
}
